

/* About part */

.about{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    /* margin: 15px; */
    margin-top: 30%;
    width: auto;
    height: 450px;
    /* border: 1px solid #fff; */
}


.about-left img{

  width: 330px;
  height: 390px;
  margin-top: 29%;
  border-radius: 10px 25px ;
  box-shadow: 5px 5px 25px #fc72ff;
  animation: aboutcard 3s infinite ease-in-out ;
}


@keyframes aboutcard {

  0%{
     /* background: linear-gradient(to right , #444444d3 , #1f4c65 ); */
     box-shadow: 5px 5px 25px #dd2ba8;
     transition: .3s ease-in-out;

  }50%{

      /* background:linear-gradient(to right , #6A11CB , #2575FC); */
      box-shadow: 5px 5px 25px  #2575FC;
      transition: .3s ease-in-out;
      
  }100%{

      /* background:linear-gradient(to right , ADBCEA , #50DFB2); */
      box-shadow: 5px 5px 25px #50DFB2;
      transition: .3s ease-in-out;

  }
  
}



.about-right h1{
  
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 18px;
    margin-top: 10%;
    /* background: linear-gradient(to right,#159957, #002d5a); */
    padding: 5px;
    width: 220px;
    border-radius: 9px;
    box-shadow: 4px 5px 5px  #002d5ac5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    background: linear-gradient( to right , #fc72ff , #8f6fff , #487bff  );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    
}

.about-right h3{
    font-size: 30px;
    margin-left: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.about-line{
    width: 125px;
    text-align: center;
    margin-top: 10px;
    margin-left:0%;
    margin-bottom: 10px;
    opacity: 0;
}

.about-line2{
    width: 125px;
    text-align: center;
    margin-top: 5px;
    margin-left:0%;
    margin-bottom: 10px;
    opacity: 0;
}

.about-right p{
    width: 720px;
    margin-left: 20px;
    justify-content:baseline;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-justify: newspaper;
    font-size: 22px;
}






  /* cards--subcards */


  .card-part{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    margin-top: 15px;
   
    
  }


  .subcard1{
    width: 280px;
    height: 320px;
    border: 1px solid #ffffff48;
    font-size: 10px;
    margin: 10px;
    border-radius: 16px;
    padding: 10px;
    box-shadow: 4px 4px 10px #003b75 ;
    
    
  }

   .subcard1 h2{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 22px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


  }



  .card-part .subcard1 img{

    width: 100px;
    height: 70px;
    justify-content: center;
    margin-left: 30%;
    margin-top: 10px;
    margin-bottom: 29px;
    
  }

  .subcard1 p{
    
    text-align: center;
    width: auto;
    margin: 3px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
  }






  @media screen and (max-width:480px){ 


.about{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* margin: 15px; */
  margin-top: 30%;
  width: auto;
  height: 450px;
  /* border: 1px solid #fff; */
}


.about-left img{
display: none;
width: 230px;
height: 290px;
margin-top: 29%;
border-radius: 10px 25px ;
box-shadow: 5px 5px 25px #fc72ff;
animation: aboutcard 3s infinite ease-in-out ;
}


@keyframes aboutcard {

0%{
   /* background: linear-gradient(to right , #444444d3 , #1f4c65 ); */
   box-shadow: 5px 5px 25px #dd2ba8;
   transition: .3s ease-in-out;

}50%{

    /* background:linear-gradient(to right , #6A11CB , #2575FC); */
    box-shadow: 5px 5px 25px  #2575FC;
    transition: .3s ease-in-out;
    
}100%{

    /* background:linear-gradient(to right , ADBCEA , #50DFB2); */
    box-shadow: 5px 5px 25px #50DFB2;
    transition: .3s ease-in-out;

}

}



.about-right h1{

  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 33%;
  margin-top: 8%;
  /* background: linear-gradient(to right,#159957, #002d5a); */
  padding: 5px;
  width: 137px;
  border-radius: 9px;
  box-shadow: 4px 5px 5px  #002d5ac5;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  background: linear-gradient( to right , #fc72ff , #8f6fff , #487bff  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  
}

.about-right h3{
  letter-spacing: 1px;
  font-size: 20px;
  margin-left: 22%;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.about-line{
  width: 100px;
  text-align: center;
  margin-top: 10px;
  margin-left:0%;
  margin-bottom: 10px;
  opacity: 0;
}

.about-line2{
  width: 100px;
  text-align: center;
  margin-top: 5px;
  margin-left:0%;
  margin-bottom: 10px;
  opacity: 0;
}

.about-right p{
  width: 290px;
  height: 200px;
  border: 1px solid #92929296;
  border-radius: 10px;
  padding: 8px;
  margin-left: 35px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}






/* cards--subcards */


.card-part{
  display: flex;
  flex-wrap: wrap;
  /* margin: 30px; */
  margin-top: 15px;
 
  
}


.subcard1{
  width: 290px;
  height: 300px;
  border: 1px solid #ffffff48;
  font-size: 10px;
  margin: 10px;
  margin-top: 10px;
  margin-left: 25px;
  border-radius: 16px;
  padding: 10px;
  box-shadow: 2px 2px 8px #003b75 ;
  
  
  
}

 .subcard1 h2{
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 21px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}



.card-part .subcard1 img{

  width: 95px;
  height: 70px;
  justify-content: center;
  margin-left: 30%;
  margin-top: 10px;
  margin-bottom: 29px;
  
}

.subcard1 p{
  /* border: none; */
  text-align: center;
  /* align-items: start; */
  width: auto;
  height: 98px;
  margin: 3px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}




    
  }